<%= simple_form_for(@cartridge) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: "menu_manager, coupon_manager, user_manager, order_manager, close_manager" %>
    <%= f.input :bei %>
    <%= f.input :rank %>
    <%= f.input :image %>
    <%= f.input :price %>
    <%= f.input :interval %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
