<h1>Listing cartridges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bei</th>
      <th>Rank</th>
      <th>Image</th>
      <th>Price</th>
      <th>Interval</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @cartridges.each do |cartridge| %>
      <tr>
        <td><%= cartridge.name %></td>
        <td><%= cartridge.bei %></td>
        <td><%= cartridge.rank %></td>
        <td><%= cartridge.image %></td>
        <td><%= cartridge.price %></td>
        <td><%= cartridge.interval %></td>
        <td>
          <%= link_to icon('file-o'), cartridge %>
          <%= link_to icon('pencil-square-o'), edit_cartridge_path(cartridge) %>
          <%= link_to icon('trash-o'), cartridge, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to icon('plus'), new_cartridge_path %>
