<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cartridge.name %>
</p>

<p>
  <strong>Bei:</strong>
  <%= @cartridge.bei %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @cartridge.rank %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cartridge.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cartridge.price %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @cartridge.interval %>
</p>

<%= link_to 'Edit', edit_cartridge_path(@cartridge) %> |
<%= link_to 'Back', cartridges_path %>
