<%= simple_nested_form_for([@store, @menu]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :bei %>
    <%= f.input :rank %>
    <%= image_tag @menu.image_url(:micro).to_s, title: @menu.name if @menu.image? %>
    <%= f.input :image %>
    <hr/>

    <h5>Open Hours:</h5>
    <div class="row">
      <%= f.fields_for :hours do |hour| %>
          <div class="large-3 columns">
            <%= hour.input :name %>
            <%= hour.input :bei %>
            <%= hour.input :open_at %>
            <%= hour.input :close_at %>
            <%= hour.link_to_remove "Remove", class: "button tiny" %>
          </div>
      <% end %>
      <%= f.link_to_add "Add", :hours, class: "small button" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button small" %>
  </div>
<% end %>
