<ul class="breadcrumbs">
  <li><%= link_to 'Menus for ' + @menu.store.name, store_menus_path(@menu.store) %></li>
  <li class="current"><%= link_to @menu.name, menu_categories_path(@menu) %></li>
</ul>

<h1>Editing menu</h1>

<%= render 'form' %>

<% if current_admin.email == "wanfenghuaian@gmail.com" %>
    <%= link_to 'Show', store_menu_path(@store, @menu) %> |
<% end %>
<%= link_to image_tag("Arrowhead-Left-24-03.png") + 'Back', store_menus_path(@store) %>
