<ul class="breadcrumbs">
  <li class="current"><%= link_to 'Menus for ' + @store.name, store_menus_path(@store) %></li>
</ul>

<div class="row">
  <% @menus.each do |menu| %>
      <div class="large-4 columns">
        <div class="panel" style="height: 250px;">
          <P>[ ID: <%= menu.id %> ]</P>
          <div style="height: 50px;"><%= menu.name %><span style="color: red;float: right;"><%= menu.still_open? ? "Open" : "Closed" %></span></div>
          <div style="height: 50px;font-size: 12px;font-style: italic;"><%= menu.bei %></div>
          <hr/>
          <div style="text-align: center;">
            <%= link_to icon('list-ul') + ' Open', menu_categories_path(menu) %>
            <% if current_admin.feng? %>
                |
                <%= link_to icon('pencil-square-o'), edit_store_menu_path(@store, menu) %>
                <%= link_to icon('trash-o'), [@store, menu], method: :delete, :data => { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  <% if current_admin.feng? %>
      <div class="large-4 columns" style="float: left;">
        <div class="panel" style="height: 250px;">
          <div style="text-align: center;margin-top: 100px;">
            <%= link_to icon('plus') + ' New Menu'.html_safe, new_store_menu_path(@store) %>
          </div>
        </div>
      </div>
  <% end %>
</div>
