<% if current_admin.feng? %>
    <div class="panel callout">
      >> <%= link_to 'Stores', stores_path %>
      >> <%= link_to 'Menus for ' + @store.name, store_menus_path(@store) %>
      <br/><br/>

      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Bei</th>
          <th>Rank</th>
          <th>Image</th>
          <th>Store</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <% @menus.each do |menu| %>
            <tr>
              <td><%= menu.name %></td>
              <td><%= menu.bei %></td>
              <td><%= menu.rank %></td>
              <td><%= menu.image %></td>
              <td><%= menu.store.name %></td>
              <td>
                <%= link_to image_tag("Magnifying-Glass-24-3.png"), store_menu_path(@store, menu) %>
                <%= link_to image_tag("Edit-24-3.png"), edit_store_menu_path(@store, menu) %>
                <%= link_to image_tag("Garbage-24-3.png"), [@store, menu], method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to image_tag("Details-24-3.png"), menu_categories_path(menu) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <br/>

      <%= link_to image_tag("Add-24-3.png"), new_store_menu_path(@store) %>
    </div>
<% end %>

>> <%= link_to 'Menus for ' + @store.name, store_menus_path(@store) %>
<br/><br/>

<div class="row">
  <% @menus.each do |menu| %>
      <div class="large-4 columns">
        <div class="panel" style="height: 200px;">
          <P>[ ID: <%= menu.id %> ]</P>
          <h5><%= menu.name %><span style="color: red;float: right;"><%= menu.still_open? ? "Open" : "Closed" %></span></h5>
          <p><%= menu.bei %></p>
          <hr/>
          <div style="text-align: center;">
            <%= link_to image_tag("Details-24-3.png"), menu_categories_path(menu) %>
            <%= link_to image_tag("Edit-24-3.png"), edit_store_menu_path(@store, menu) %>
            <%= link_to image_tag("Garbage-24-3.png"), [@store, menu], method: :delete, :data => { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="large-4 columns" style="float: left;">
    <div class="panel" style="height: 200px;">
      <br/><br/>
      <h5>Create New Menu</h5>
      <hr/>
      <div style="text-align: center;">
        <%= link_to image_tag("Add-24-3.png").html_safe, new_store_menu_path(@store) %>
      </div>
    </div>
  </div>
</div>
