<ul class="breadcrumbs">
  <li><%= link_to 'Menus for ' + @menu.store.name, store_menus_path(@menu.store) %></li>
  <li class="current"><%= link_to @menu.name, menu_categories_path(@menu) %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Bei:</strong>
  <%= @menu.bei %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @menu.rank %>
</p>

<p>
  <strong>Image:</strong>
  <%= @menu.image %>
</p>

<p>
  <strong>Store:</strong>
  <%= @menu.store %>
</p>

<%= link_to 'Edit', edit_store_menu_path(@store, @menu) %> |
<%= link_to 'Back', store_menus_path(@store) %>
