<h1>Listing templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Framework</th>
      <th>Rank</th>
      <th>Image</th>
      <th>Price</th>
      <th>Interval</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.name %>: <%= template.id %></td>
        <td><%= template.framework %></td>
        <td><%= template.rank %></td>
        <td><%= template.image %></td>
        <td><%= template.price %></td>
        <td><%= template.interval %></td>
        <td>
          <%= link_to image_tag("Magnifying-Glass-24-3.png", size: "20x20", alt: 'Show'), template %>
          <%= link_to image_tag("Edit-24-3.png", size: "20x20", alt: 'Edit'), edit_template_path(template) %>
          <%= link_to image_tag("Garbage-24-3.png", size: "20x20", alt: 'Destroy'), template, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag("Add-24-3.png", alt: "add"), new_template_path %>
