<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Bei:</strong>
  <%= @template.bei %>
</p>

<p>
  <strong>Framework:</strong>
  <%= @template.framework %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @template.rank %>
</p>

<p>
  <strong>Image:</strong>
  <%= @template.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @template.price %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @template.interval %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
