<div class="row">
  <div class="large-6 columns">
    <%= simple_form_for @store do |f| %>
        <fieldset>
          <legend>Edit Your Profile:</legend>

          <div class="row">
            <div class="large-12 columns">
              <%= f.error_notification %>

              <%= f.input :name, label: 'Your store name please' %>
              <%= f.input :bei, label: 'Your store bei please' %>
              <%= f.input :domain, label: 'Your store domain please' %>
            </div>

            <div class="large-6 columns">
              <%= f.input :phone %>
            </div>
            <div class="large-6 columns">
              <%= f.input :fax %>
            </div>
            <div class="large-12 columns">
              <%= f.input :has_fax %>
            </div>
            <div class="large-6 columns">
              <%= f.input :fax_usr %>
            </div>
            <div class="large-6 columns">
              <%= f.input :fax_pwd %>
            </div>
            <div class="large-6 columns">
              <%= image_tag @store.image_url(:small).to_s, title: @store.name if @store.image? %>
              <%= f.input :image %>
            </div>

            <div class="large-6 columns">
              <br/>
              <%= f.button :submit, data: { disable_with: "Saving..." }, class: 'button small' %>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= simple_form_for @store do |f| %>
        <fieldset>
          <legend>Edit Your Address:</legend>

          <div class="row">
            <%= f.fields_for :address do |addr| %>
                <div class="large-12 columns">
                  <%= addr.input :address1 %>
                </div>
                <div class="large-12 columns">
                  <%= addr.input :address2 %>
                </div>
                <div class="large-6 columns">
                  <%= addr.input :city %>
                </div>
                <div class="large-3 columns">
                  <%= addr.input :state %>
                </div>
                <div class="large-3 columns">
                  <%= addr.input :country, :as => :string %>
                </div>
                <div class="large-6 columns">
                  <%= addr.input :zip %>
                </div>
            <% end %>
            <div class="large-6 columns">
              <br/>
              <%= f.button :submit, data: { disable_with: "Saving..." }, class: 'button small' %>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= simple_form_for @store do |f| %>
        <fieldset>
          <legend>Purchase Your Templates:</legend>
          <%= f.association :templates, as: :check_boxes, collection: @templates %>
          <%= f.button :submit, data: { disable_with: "Saving..." }, class: 'button' %>
        </fieldset>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= simple_form_for @store do |f| %>
        <fieldset>
          <legend>Purchase Your Cartridges:</legend>
          <%= f.association :cartridges, as: :check_boxes, collection: @cartridges %>
          <%= f.button :submit, data: { disable_with: "Saving..." }, class: 'button' %>
        </fieldset>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= simple_form_for @store do |f| %>
        <fieldset>
          <legend>Store Switch</legend>
          <%= f.input :status, as: :radio_buttons, collection: [:normal, :closed] %>
          <%= f.button :submit, data: { disable_with: "Saving..." }, class: 'button small' %>
        </fieldset>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= simple_form_for @store do |f| %>
        <fieldset>
          <legend>Admin</legend>
          <%= f.association :admin, label_method: lambda { |admin| "#{admin.firstname} #{admin.lastname} - #{admin.phone}" } %>
          <%= f.button :submit, data: { disable_with: "Saving..." }, class: 'button small' %>
        </fieldset>
    <% end %>
  </div>

</div>


