<h1>Listing stores</h1>

>> <%= link_to 'Stores', stores_path %>

<br/><br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Phone/Fax</th>
      <th>Admin</th>

      <th>Action</th>
      <th>Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %>. <%= store.name %></td>
        <td><%= store.desc %></td>
        <td><%= store.phone %><br/><%= store.fax %></td>
        <td><%= store.admin.email %></td>
        <td>
          <%= link_to image_tag("/assets/View-Details-01-24.png"), store %>
          <%= link_to image_tag("/assets/Data-Edit-24.png"), edit_store_path(store) %>
          <%= link_to image_tag("/assets/Delete-24.png"), store, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td>
          <%= link_to 'Menus', store_menus_path(store) %> |
          <%= link_to 'Orders', store_orders_path(store) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>
