<h1>Listing stores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th>Admin</th>
      <th>Tel/Fax</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %>. <%= store.name %></td>
        <td><%= store.domain %></td>
        <td><%= store.admin.email if store.admin %></td>
        <td><%= store.phone + " / " + store.fax %></td>
        <td>
          <%= link_to icon('file-o'), store if allow? :stores, :edit, store %>
          <%= link_to icon('pencil-square-o'), edit_store_path(store) if allow? :stores, :edit, store %>
          <%= link_to icon('trash-o'), store, method: :delete, data: { confirm: 'Are you sure?' } if allow? :stores, :destroy, store %>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <%= link_to 'Menus', store_menus_path(store), target: '_blank' %> |
          <%= link_to 'Orders', store_orders_path(store), target: '_blank' %> |
          <%= link_to 'Statements', store_statements_path(store), target: '_blank' %> |
          <%= link_to 'Payments', store_payments_path(store), target: '_blank' %> |
          <%= link_to 'Coupons', store_coupons_path(store), target: '_blank' %> |
          <%= link_to 'Dish Choices', store_dish_choices_path(store), target: '_blank' %> |
          <%= link_to 'Dish Features', store_dish_features_path(store), target: '_blank' %> |
          <%= link_to 'Delivery Rules', store_delivery_rules_path(store), target: '_blank' %>
            <hr/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to icon('plus') + " New Store", new_store_path %>
