<% if current_admin.feng? %>
    <div class="panel callout">
      <p><strong>Name:</strong><%= @store.name %></p>
      <p><strong>Bei:</strong><%= @store.bei %></p>
      <p><strong>Domain:</strong><%= @store.domain %></p>
      <p><strong>Rank:</strong><%= @store.rank %></p>
      <p><strong>Avatar:</strong><%= @store.image %></p>
      <p><strong>Phone:</strong><%= @store.phone %></p>
      <p><strong>Fax:</strong><%= @store.fax %></p>
      <p><strong>Delivery minimum:</strong><%= @store.delivery_minimum %></p>
      <p><strong>Delivery fee:</strong><%= @store.delivery_fee %></p>
      <p><strong>Delivery radius:</strong><%= @store.delivery_radius %></p>
      <p><strong>UUID:</strong><%= @store.uuid %></p>
      <% if @store.admin %>
          <p><strong>Admin:</strong><%= @store.admin %></p>
      <% end %>

      <%= link_to image_tag("Arrowhead-Left-24-03.png"), stores_path %>
      <%= link_to image_tag("Edit-24-3.png"), edit_store_path(@store) %>
    </div>
<% end %>

<p id="notice"><%= notice %></p>

<div data-alert class="alert-box alert radius">
  You have statement not paid on time. Click the statement to pay.
  <br/><br/>
  <% @statements.each do |s| %>
      <%= link_to "Pay statement for " + s.year.to_s + "-" + s.month.to_s, statement_statement_items_path(s), style: "color:#fff;margin-left:20px;" %>
  <% end %>

  <a href="#" class="close">&times;</a>
</div>

<p>
  <b>Store Name:</b><br/>
  <%= @store.name %>
</p>

<p>
  <b>Store Address:</b><br/>
  <% if @store.address.nil? %>
      No Address On File Yet!
  <% else %>
      <%= @store.address.address1 + ", " + @store.address.address2  %><br/>
      <%= @store.address.city + ", " + @store.address.state + ", " + @store.address.country %>
  <% end %>
</p>

<p>
  <b>Business Hours:</b><br/>
  <% @store.menus.first.hours.each do |h| %>
      <%= h.name + ": " + h.open_at + " - " + h.close_at %><br/>
  <% end %>
</p>

<p>
  <b>Delivery Requirements:</b><br/>
  <!--Delivery Fee: <%= number_to_currency @store.delivery_fee %><br/>-->
  Delivery Minimum: <%= number_to_currency @store.delivery_minimum %>
</p>

<p>
  <b>Payment Options:</b><br/>
  VISA, MASTER, AMERICAN EXPRESS
</p>











