<p id="notice"><%= notice %></p>

<p>
  <b>Store Name:</b><br/>
  <%= @store.name %>
</p>

<p>
  <b>Store Address:</b><br/>
  <% if @store.address.nil? %>
      No Address On File Yet!
  <% else %>
      <%= @store.address.address1 + ", " + @store.address.address2  %><br/>
      <%= @store.address.city + ", " + @store.address.state + ", " + @store.address.country %>
  <% end %>
</p>

<p>
  <b>Business Hours:</b><br/>
  <% unless @store.menus.empty? %>
      <% @store.menus.first.hours.each do |h| %>
          <%= h.name + ": " + h.open_at + " - " + h.close_at %><br/>
      <% end %>
  <% end %>
</p>

<p>
  <b>Delivery Requirements:</b><br/>
  <% @store.delivery_rules.each do |dr| %>
      <%= dr.name %><br/>
  <% end %>
</p>

<p>
  <b>Payment Options:</b><br/>
  Cash, Visa, Master, Discover American Express
</p>

<% if current_admin.feng? %>
    <div class="panel callout">
      <p><strong>Name:</strong><%= @store.name %></p>
      <p><strong>Bei:</strong><%= @store.bei %></p>
      <p><strong>Domain:</strong><%= @store.domain %></p>
      <p><strong>Rank:</strong><%= @store.rank %></p>
      <p><strong>Avatar:</strong><%= @store.image %></p>
      <p><strong>Phone:</strong><%= @store.phone %></p>
      <p><strong>Fax:</strong><%= @store.fax %></p>
      <p><strong>UUID:</strong><%= @store.uuid %></p>
      <% if @store.admin %>
          <p><strong>Admin:</strong><%= @store.admin.firstname + " " + @store.admin.lastname %></p>
      <% end %>

      <%= link_to icon('arrow-left'), stores_path %>
      <%= link_to icon('pencil-square-o'), edit_store_path(@store) %>
    </div>
<% end %>









