<script>
    $(document).ready(function(){
        $('#index').attr("class","selected");
    });
</script>

<div id="major">
  <div class="gallery">
    <div id="gallery_slides">
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck1.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck2.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck3.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck4.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck5.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck6.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck7.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck8.jpg", width: 960, height: 500, border: 0 %></div>
      <div class="gallery_slide"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck9.jpg", width: 960, height: 500, border: 0 %></div>
    </div>
    <div id="gallery_menu">
      <ul>
        <li class="gallery_fbar">&nbsp;</li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck1.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck2.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck3.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck4.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck5.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck6.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck7.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck8.jpg", width: 58, height: 40 %></li>
        <li class="gallery_menu_item"><%= link_to image_tag "templates/joyluckdelivery/dishes/joyluck9.jpg", width: 58, height: 40 %></li>
      </ul>
    </div>
  </div>
</div>

<div id="main">
  <div id="greetings">
    <br/><br/>
    <h2>Welcome to <br/>Joy Luck Chinese & Sushi!</h2>
    <br/>
    <h3>Enjoy Our Great Asian Food! &nbsp;&nbsp;&nbsp;MSG FREE!&nbsp;&nbsp;&nbsp;TRANS-FAT FREE!</h3>
    <br/><br/>
    <p>We're proud to have served the B/CS communities during the past 15 years. We'll be offering the best of two worlds: Chinese Cuisine and newly-added Japanese Sushi ! Incredible taste, reasonable prices, and best of all, we deliver to your home!</p>
  </div>
</div>

<div id="side">
  <%= image_tag "templates/joyluckdelivery/logos/kitchenpic.jpg" %>
</div>