<%= simple_form_for([@store, @dish_feature]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :bei %>
    <%= f.input :rank %>
    <%= image_tag @dish_feature.image_url(:small).to_s if @dish_feature.image? %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
