<h1>Listing dish_features</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bei</th>
      <th>Rank</th>
      <th>Store</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @dish_features.each do |dish_feature| %>
      <tr>
        <td><%= dish_feature.name %></td>
        <td><%= dish_feature.bei %></td>
        <td><%= dish_feature.rank %></td>
        <td><%= dish_feature.store.name %></td>
        <td>
          <%= link_to icon('file-o'), store_dish_feature_path(@store, dish_feature) %>
          <%= link_to icon('pencil-square-o'), edit_store_dish_feature_path(@store, dish_feature) %>
          <%= link_to icon('trash-o'), [@store, dish_feature], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to icon('plus'), new_store_dish_feature_path(@store) %>
