<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish_feature.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @dish_feature.desc %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @dish_feature.rank %>
</p>

<p>
  <strong>Store:</strong>
  <%= @dish_feature.store %>
</p>

<%= link_to 'Edit', edit_dish_feature_path(@dish_feature) %> |
<%= link_to 'Back', dish_features_path %>
