<h1>Listing dish_choices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bei</th>
      <th>Content</th>
      <th>Input type</th>
      <th>Must</th>
      <th>Store</th>
      <th>Checked</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @dish_choices.each do |dish_choice| %>
      <tr>
        <td><%= dish_choice.name %></td>
        <td><%= dish_choice.bei %></td>
        <td><%= dish_choice.content %></td>
        <td><%= dish_choice.input_type %></td>
        <td><%= dish_choice.must %></td>
        <td><%= dish_choice.store.name %></td>
        <td><%= dish_choice.checked %></td>
        <td>
          <%= link_to image_tag("Magnifying-Glass-24-3.png", size: "20x20", alt: "show"), store_dish_choice_path(@store, dish_choice) %>
          <%= link_to image_tag("Edit-24-3.png", size: "20x20", alt: "edit"), edit_store_dish_choice_path(@store, dish_choice) %>
          <%= link_to image_tag("Garbage-24-3.png", size: "20x20", alt: "destroy"), [@store, dish_choice], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag("Add-24-3.png", alt: "add"), new_store_dish_choice_path(@store) %>
