<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish_choice.name %>
</p>

<p>
  <strong>Bei:</strong>
  <%= @dish_choice.bei %>
</p>

<p>
  <strong>Content:</strong>
  <%= @dish_choice.content %>
</p>

<p>
  <strong>Input type:</strong>
  <%= @dish_choice.input_type %>
</p>

<p>
  <strong>Must:</strong>
  <%= @dish_choice.must %>
</p>

<p>
  <strong>Store:</strong>
  <%= @dish_choice.store %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @dish_choice.checked %>
</p>

<%= link_to 'Edit', edit_store_dish_choice_path(@store, @dish_choice) %> |
<%= link_to 'Back', store_dish_choices_path(@store) %>
