<%= simple_form_for([@statement, @statement_item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :day %>
    <%= f.input :name %>
    <%= f.input :note %>
    <%= f.input :price %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button small" %>
  </div>
<% end %>
