<h1>Listing coupons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Rank</th>
      <th>Avatar</th>
      <th>Price</th>
      <th>Minimum</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Store</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.name %></td>
        <td><%= coupon.desc %></td>
        <td><%= coupon.rank %></td>
        <td><%= coupon.avatar %></td>
        <td><%= coupon.price %></td>
        <td><%= coupon.minimum %></td>
        <td><%= coupon.start_at %></td>
        <td><%= coupon.end_at %></td>
        <td><%= coupon.store %></td>
        <td><%= link_to 'Show', coupon %></td>
        <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
        <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupon', new_coupon_path %>
