<h1>Listing coupons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bei</th>
      <th>Rank</th>
      <th>Image</th>
      <th>Price</th>
      <th>Minimum</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.name %></td>
        <td><%= coupon.bei %></td>
        <td><%= coupon.rank %></td>
        <td><%= coupon.image %></td>
        <td><%= coupon.price %></td>
        <td><%= coupon.minimum %></td>
        <td><%= coupon.start_at %></td>
        <td><%= coupon.end_at %></td>
        <td>
          <%= link_to icon('file-o'), store_coupon_path(@store, coupon) %>
          <%= link_to icon('pencil-square-o'), edit_store_coupon_path(@store, coupon) %>
          <%= link_to icon('trash-o'), [@store, coupon], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to icon('plus'), new_store_coupon_path(@store) %>
