<%= simple_form_for([@store, @statement]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="large-3 columns">
        <%= f.input :year %>
      </div>
      <div class="large-3 columns">
        <%= f.input :month %>
      </div>
      <div class="large-6 columns">
        <%= f.input :invoice %>
      </div>
      <div class="large-6 columns">
        <%= f.input :payment_type, collection: Statement::PAYMENT_TYPE_OPTIONS, as: :radio_buttons %>
      </div>
      <div class="large-6 columns">
        <%= f.input :payment_status, collection: Statement::PAYMENT_STATUS_OPTIONS, as: :radio_buttons %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'button small' %>
  </div>
<% end %>
