<h1>Listing statements</h1>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Payment type</th>
      <th>Payment status</th>
      <th>Invoice</th>
      <th>Store</th>
      <th colspan="2"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.year %>/<%= statement.month %></td>
        <td><%= statement.payment_type %></td>
        <td><%= statement.payment_status %></td>
        <td><%= statement.invoice %></td>
        <td><%= statement.store.id.to_s + ". " + statement.store.name %></td>
        <td>
          <%= link_to image_tag("Magnifying-Glass-24-3.png"), store_statement_path(@store, statement) %>
          <%= link_to image_tag("Edit-24-3.png"), edit_store_statement_path(@store, statement) %>
          <%= link_to image_tag("Garbage-24-3.png"), [@store, statement], method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to image_tag("Details-24-3.png"), statement_statement_items_path(statement) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_store_statement_path(@store) %>
