<h2>Statements <span style="font-size: 16px;font-style: italic;">(Total <%= @statements.size %> Statements)</span></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Payment type</th>
      <th>Payment status</th>
      <th>Invoice</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td>Statement for <%= statement.year %>-<%= statement.month %></td>
        <td><%= number_to_currency statement.total_price %></td>
        <td><%= statement.payment_type %></td>
        <td><%= statement.payment_status %></td>
        <td><%= statement.invoice %></td>
        <td>
          <% if current_admin.feng? %>
              <%= link_to icon('file-o'), store_statement_path(@store, statement) %>
              <%= link_to icon('pencil-square-o'), edit_store_statement_path(@store, statement) %>
              <%= link_to icon('trash-o'), [@store, statement], method: :delete, data: { confirm: 'Are you sure?' } %>
              <br/>
          <% end %>
          <%= link_to icon('list-ul') + ' Open', statement_statement_items_path(statement) %>  |
          <%= link_to icon('credit-card') + ' Pay', statement.paypal_url %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_admin.feng? %>
    <br/>
    <%= link_to icon('plus') + ' New Statement', new_store_statement_path(@store) %>
<% end %>