<h2><%= t ".statements" %> <span style="font-size: 16px;color:red; font-style: italic;">(<%= @statements.size %>)</span></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Due At</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= t ".statements" %> @ <%= statement.year %>-<%= statement.month %></td>
        <td><%= number_to_currency statement.total_price %></td>
        <td><%= statement.year.to_s + "-" + statement.month.to_s + "-10" %></td>
        <td>
          <% if statement.payment_status == 'paid' %>
              <span style="color: green;font-weight: bold;">Paid</span>
          <% else %>
              <span style="color: #ff0000;font-weight: bold;">Not Paid</span>
          <% end %>
        </td>
        <td>
          <% if current_admin.feng? %>
              <%= link_to icon('file-o'), store_statement_path(@store, statement) %>
              <%= link_to icon('pencil-square-o'), edit_store_statement_path(@store, statement) %>
              <%= link_to icon('trash-o'), [@store, statement], method: :delete, data: { confirm: 'Are you sure?' } %>
              <br/>
          <% end %>
          <%= link_to icon('list-ul') + " " + (t ".details"), statement_statement_items_path(statement) %>
          <% unless statement.payment_status == 'paid' %>
              | <%= link_to icon('credit-card') + " " + (t ".pay"), statement.paypal_url %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_admin.feng? %>
    <br/>
    <%= link_to icon('plus') + ' New Statement', new_store_statement_path(@store) %>
<% end %>