<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= @store.name %></title>

  <%= stylesheet_link_tag    "templates/#{@template_name}" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "templates/#{@template_name}" %>

  <%= csrf_meta_tags %>
</head>

<body>

<div class="row">
  <div class="large-12 columns">
    <div id="main">
      <div style="text-align: center;margin-bottom: 10px;">
        <%= image_tag "templates/#{@template_name}/logo_imperialbcs.png" %>
      </div>

      <nav class="tab-bar show-for-small">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>
        <section class="right tab-bar-section">
          <h1 class="title"><%= @store.name %></h1>
        </section>
      </nav>

      <nav class="top-bar hide-for-small" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to @store.name, q_store_home_path %></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li <%= "class=active" if controller_name == "q" && action_name == "store_home" %>><%= link_to "Welcome", q_store_home_path %></li>
            <li class="divider"></li>
            <li <%= "class=active" if controller_name == "q" && action_name == "store_menus" %>><%= link_to "Menu Online", q_store_menus_path %></li>
            <li class="divider"></li>
            <li <%= "class=active" if controller_name == "q" && action_name == "store_map" %>><%= link_to "Get Direction", q_store_map_path %></li>
            <li class="divider"></li>
            <li <%= "class=active" if controller_name == "q" && action_name == "store_intro" %>><%= link_to "About Us", q_store_intro_path %></li>
            <% if user_signed_in? %>
                <li class="divider"></li>
                <li <%= "class=active" if controller_name == "registrations" && action_name == "edit" %>><%= link_to current_user.email, edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
            <% else %>
                <li class="divider"></li>
                <li <%= "class=active" if controller_name == "sessions" && action_name == "new" %>><%= link_to "Sign In", new_user_session_path %></li>
                <li class="divider"></li>
                <li <%= "class=active" if controller_name == "registrations" && action_name == "new" %>><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>

      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label><%= @store.name %></label></li>
              <li><%= link_to "Welcome", q_store_home_path %></li>
              <li><%= link_to "Menu Online", q_store_menus_path %></li>
              <li><%= link_to "Get Direction", q_store_map_path %></li>
              <li><%= link_to "About Us", q_store_intro_path %></li>
              <% if user_signed_in? %>
                  <li><%= link_to current_user.email, edit_user_registration_path %></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
              <% else %>
                  <li><%= link_to "Sign In", new_user_session_path %></li>
                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </aside>

          <br/>
          <% flash.each do |name, msg| %>
              <div data-alert class="alert-box radius <%= name %>" style="text-align:center;">
                <%= msg %>
                <a href="#" class="close">&times;</a>
              </div>
          <% end %>

          <% unless Rails.env == "development" %>
              <h3 style="color: #ffffff;background-color: maroon;">
                &nbsp;&nbsp;&nbsp;Dear customers, currently our order-online service is not available.<br/>
                &nbsp;&nbsp;&nbsp;But you can still get the menu and make reservations through below link.
              </h3>
          <% end %>

          <iframe id="seatme-widget" frameborder="0" width="640" height="60" src="https://www.seatme.yelp.com/api/v3/widget.htm?restaurant_id=0ac662d7-6577-4a84-8370-3eb818fcaf6d&color=%23c41200&color-scheme=light&orientation=horizontal&mobile-prompt=false"></iframe><style type="text/css">#seatme-link a:link {text-decoration: none; color:#b3b3b3} #seatme-link a:hover {text-decoration: none; color:#066382} #seatme-link a:visited {text-decoration: none; color:#066382}</style><div id="seatme-link"><a style="font: normal 9px Helvetica Neue, Helvetica, sans-serif; margin-left:15px;" href="https://www.seatme.yelp.com/">RESTAURANT RESERVATIONS BY YELP</a></div>

          <%= yield %>

          <a class="exit-off-canvas"></a>
        </div>
      </div>

      <hr />

      <footer class="row">
        <div class="large-12 columns">
          <div style="text-align: center;color: darkred;font-size: 24px;font-weight: bold;line-height: 40px;">
            Any delivery charge is not a tip paid to your driver.<br/>Please reward your driver for awesomeness.
          </div>
        </div>
        <div class="large-12 columns">
          <div class="row" style="margin-top: 20px;">
            <div class="small-2 columns" style="text-align: center;">
              <strong>Connect with<br/> us now!</strong>
            </div>
            <div class="small-2 columns">
              <%= link_to image_tag("templates/imperialbcs/facebook.png", size: "40x40"), "https://www.facebook.com/pages/Imperial-Chinese-and-Sushi/1412312062387964?ref_type=bookmark", target: "_blank" %>
            </div>
            <div class="small-2 columns">
              <%= link_to image_tag("templates/imperialbcs/twitter.png", size: "40x40"), "https://twitter.com/ImperialBCS", target: "_blank" %>
            </div>
            <div class="small-2 columns">
              <%= link_to image_tag("templates/imperialbcs/insta.png", size: "40x40"), "http://instagram.com/imperialbcs", target: "_blank" %>
            </div>
            <div class="small-2 columns">
              <%= link_to image_tag("templates/imperialbcs/google-plus.png", size: "40x40"), "https://google.com/+Imperialbcs", target: "_blank" %>
            </div>
            <div class="small-2 columns end">
              <%= link_to image_tag("templates/imperialbcs/yelp.png", size: "40x40"), "http://www.yelp.com/biz/imperial-chinese-and-sushi-bryan-2", target: "_blank" %>
            </div>
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="large-6 columns">
              <p>&copy; <%= Time.now.year %> <%= @store.name %>. All Rights Reserved.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="http://www.paypal.com" target="_blank">PayPal</a></li>
                <% if admin_signed_in? %>
                    <li><%= link_to current_admin.firstname + " " + current_admin.lastname, edit_admin_registration_path %></li>
                    <li><%= link_to 'Sign out', destroy_admin_session_path, :method=>'delete' %></li>
                <% else %>
                    <li><%= link_to "Admin", new_admin_session_path %></li>
                <% end %>
              </ul>
            </div>
            <div class="large-12 columns" style="text-align: center;">
              Website Created and Maintained by <%= link_to "777POS.COM", "http://777pos.com" %>
              <br/><br/><br/>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

</body>

</html>
