<html>
<body style='font-size:15px;'>
<br />
<%= self.created_at.getlocal.to_formatted_s(:short) %><br />
<%= self.cart.delivery_type %>, Pay With <%= self.payment_type + " (" + self.payment_status + ")" %><br />
<hr /><br />

<table>
  <tr>
    <th>Dish Name</th>
    <th>Qty</th>
    <th>Amount</th>
  </tr>

  <% self.cart.cart_items.each do |ci| %>
      <tr>
        <td><%= ci.name %></td>
        <td align='center'><%= ci.quantity %></td>
        <td><%= ci.total_price %></td>
      </tr>
      <tr>
        <td colspan='3'><%= ci.note %></td>
      </tr>
  <% end %>

  <tr>
    <td></td>
    <td align='right'>Delivery: </td>
    <td><%= number_to_currency self.cart.delivery_fee %></td>
  </tr>
  <tr>
    <td></td>
    <td align='right'>Tax: </td>
    <td><%= number_to_currency self.cart.tax %></td>
  </tr>
  <tr>
    <td></td>
    <td align='right'>Tip: </td>
    <td><%= number_to_currency self.tip %></td>
  </tr>
  <tr>
    <td></td>
    <td align='right'>Total: </td>
    <td><%= number_to_currency self.cart.total_price + self.tip %></td>
  </tr>
</table>

<br /><hr /><br/>

<table>
  <tr>
    <th colspan='2'><br /><br />Customer Info:</th>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= self.user.firstname + " " + self.user.lastname %></td>
  </tr>
  <tr>
    <th>Tel: </th>
    <td><%= self.user.phone %></td>
  </tr>

  <% unless self.user.address.nil? %>
      <tr>
        <th>Addr:</th>
        <td><%= self.user.address.address1 %></td>
      </tr>
      <tr>
        <th>Apt:</th>
        <td><%= self.user.address.address2 %></td>
      </tr>
      <tr>
        <th>Special:</th>
        <td><%= self.note %></td>
      </tr>
  <% end %>
</table>
</body>
</html>