<%= simple_form_for([@store, @order]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :note %>
    <%= f.input :payment_type %>
    <%= f.input :payment_status %>
    <%= f.input :tip %>
    <%= f.association :store %>
    <%= f.association :cart %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
