<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-6 columns">
    <p>
      <strong>Time:</strong><br/>
      <%= @order.created_at.getlocal.to_formatted_s(:short) %>
    </p>

    <p>
      <strong>Payment:</strong><br/>
      <%= @order.payment_type + ", " + @order.payment_status %>
    </p>

    <p>
      <strong>Delivery:</strong><br/>
      <%= @order.cart.delivery_type %>
    </p>

    <p>
      <strong>User:</strong><br/>
      <%= @order.user.firstname + " " + @order.user.lastname %><br/>
    </p>

    <p>
      <strong>Phone:</strong><br/>
      <%= @order.user.phone %><br/>
    </p>

    <% unless @order.user.address.nil? %>
        <p>
          <strong>Address:</strong><br/>
          <%= @order.user.address.address1 + ", " + @order.user.address.address2 %><br/>
          <%= @order.user.address.city %><br/>
        </p>
    <% end %>
  </div>
  <div class="large-6 columns">
    <p>
      <strong>Cart:</strong><br/>
      <% @order.cart.cart_items.each do |ci| %>
          <%= ci.name + ", " + number_to_currency(ci.price) + " * " + ci.quantity.to_s %><br/>
          <span style="color: red; font-size:12px;"><%= ci.note %></span><br/>
      <% end %>
      <hr/>
      Tax: <%= number_to_currency @order.cart.tax %><br/>
      Tip: <%= number_to_currency @order.tip %><br/>
      Total: <%= number_to_currency @order.cart.total_price + @order.tip  %>
    </p>
    <p>
      <strong>Note:</strong>
      <%= @order.note %>
    </p>
  </div>
</div>





<%= link_to 'Edit', edit_store_order_path(@store, @order) %> |
<%= link_to 'Back', store_orders_path(@store) %>
