<% if cart.cart_items.empty? %>
    <li id="cart_message">Nothing left in your cart!</li>
<% else %>
    <li id="cart_type">
      <!--Be able to edit order if not checkout page-->
      <% unless params[:controller] == "orders" %>
          <% if store.has_delivery_service? %>
              <%= link_to 'Delivery', delivery_type_cart_path(cart, delivery_type: :delivery), class: (cart.delivery_type == 'delivery') ? 'active' : nil, remote: true %>
          <% end %>
          <% if store.has_pick_up_service? %>
              <%= link_to 'Pick Up', delivery_type_cart_path(cart, delivery_type: :pick_up), class: (cart.delivery_type == 'pick_up') ? 'active' : nil, remote: true %>
          <% end %>
      <% else %>
          <% if store.has_delivery_service? %>
              <%= link_to 'Delivery', 'javascript:void(0);', class: (cart.delivery_type == 'delivery') ? 'active' : nil, style: "pointer-events: none;cursor: default;" %>
          <% end %>
          <% if store.has_pick_up_service? %>
              <%= link_to 'Pick Up', 'javascript:void(0);', class: (cart.delivery_type == 'pick_up') ? 'active' : nil, style: "pointer-events: none;cursor: default;" %>
          <% end %>
    <% end %>
    </li>

    <%= render(cart.cart_items) %>

    <li id="cart_summary">
      <p><strong>Subtotal:&nbsp;&nbsp;&nbsp;</strong><%= number_to_currency(cart.subtotal_price) %></p>
      <p><strong>Tax:&nbsp;&nbsp;&nbsp;</strong><%= number_to_currency(cart.subtotal_price*0.0825) %></p>
      <% if cart.delivery_type == 'delivery' && cart.delivery_fee > 0 %>
          <p><strong>Delivery Fee:&nbsp;&nbsp;&nbsp;</strong><%= number_to_currency(cart.delivery_fee) %></p>
      <% end %>
      <p><strong>Total:&nbsp;&nbsp;&nbsp;</strong><%= number_to_currency(cart.total_price) %></p>
    </li>

    <li id="cart_loading" style="display: none;"><%= image_tag "loading.gif" %></li>
    <li id="cart_message" style="display: none;"></li>

    <!--Be able to edit order if not checkout page-->
    <% unless params[:controller] == "orders" %>
        <li id="cart_action">
          <% if cart.delivery_type == "delivery" && store.delivery_rules.present? %>
              <% if session[:user_address] && session[:user_address].present? %>
                  <table class="cart_action_table">
                    <tr>
                      <td colspan="3"><%= text_field_tag :address1, session[:user_address][:address1], readonly: :readonly %></td>
                    </tr>
                    <tr>
                      <td><%= text_field_tag :city, session[:user_address][:city], readonly: :readonly %></td>
                      <td><%= text_field_tag :zip, session[:user_address][:zip], readonly: :readonly %></td>
                      <td><%= link_to "Reset", q_reset_address_path, remote: true, method: :post, data: { confirm: 'Are you sure?' }, style: "line-height: 40px;" %></td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <div id="cart_action_buttons">
                          <%= link_to 'Clear Cart', cart, :class => 'small button', :remote => true, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% if cart.total_price < cart.delivery_minimum %>
                              <%= link_to "Min. #{number_to_currency(cart.delivery_minimum)}", 'javascript:void(0);', :class => 'small button' %>
                          <% else %>
                              <%= link_to 'Checkout', new_store_order_path(store), :class => 'small button' %>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  </table>
              <% else %>
                  <%= form_tag(q_check_address_path, :method => 'post', :remote => true) do %>
                      <table class="cart_action_table">
                        <tr>
                          <td colspan="3">
                            <%= label_tag :address1 %>
                            <%= text_field_tag :address1, nil %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <%= label_tag :city %>
                            <%= text_field_tag :city, nil %>
                          </td>
                          <td>
                            <%= label_tag :zip %>
                            <%= text_field_tag :zip, nil %>
                          </td>
                          <td><span style="color: #bbbbbb">Reset</span></td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            <div id="cart_action_buttons">
                              <%= link_to 'Clear Cart', cart, :class => 'small button', :remote => true, method: :delete, data: { confirm: 'Are you sure?' } %>
                              <%= submit_tag("Check Addr.", :class => 'small button') %>
                            </div>
                          </td>
                        </tr>
                      </table>
                  <% end %>
              <% end %>
          <% else %>
              <div id="cart_action_buttons">
                <%= link_to 'Clear Cart', cart, :class => 'small button', :remote => true, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'Proceed', new_store_order_path(store), :class => 'small button' %>
              </div>
          <% end %>
        </li>
    <% end %>
<% end %>
