<script type="text/javascript">
    $(document).ready(function(){
        $("#menus").attr('class','selected');
        $("#side").smartFloat();

        $( ".dish" ).click(function() {
            var dish_id = $(this).attr("dish_id");
            $(".dish_dialog[dish_id=" + dish_id + "]").dialog("open");
        });
    });
</script>

<div id="major">
  <div id="menus_nav">
    <div id="menu_tabs">
      <ul>
        <% @store.menus.each do |menu| %>
            <li>
              <a href="javascript:$('.xxx, .yyy').hide();$('#xxx_<%= menu.id %>, #yyy_<%= menu.id %>').show();void(0);">
                <%= menu.name %>
              </a>
            </li>
        <% end %>
      </ul>
    </div>

    <div id="menu_details">
      <% @store.menus.each_with_index do |menu, mi| %>
          <div id="xxx_<%= menu.id %>" class="xxx" <%= "style='display:none;'".html_safe unless mi == 0 %>>
            <div class="menu_hour">
              Menu Hours:<%= menu.hours_for_day %>
            </div>
            <div class="category_tabs">
              <% menu.categories.each do |category| %>
                  <a class="goToCategory" href="#goToCateg<%= category.id %>"><%= category.name %></a>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div id="main">
  <%= render "q/templates/public/menus" %>
</div>

<div id="side" >
  <%= render "q/templates/public/cart" %>
</div>
