<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @subscription.store %>
</p>

<p>
  <strong>Subscribable:</strong>
  <%= @subscription.subscribable %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscription.status %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
