<div class="large-6 columns">
  <div style="border-bottom: 1px dashed #000000;line-height: 20px;height: 40px;">
    <%= dish.name %>
    <% dish.dish_features.each do |df| %>
        <%= image_tag df.image_url(:micro).to_s, title: df.name if df.image? %>
    <% end %>
    <br/>
    <% unless dish.dish_choices.empty? %>
        <span style="font-size: 12px;">Choose
          <% dish.dish_choices.each_with_index do |dc, index| %>
              <% if index == dish.dish_choices.size - 1 %>
                <%= dc.name %>
              <% else %>
                <%= dc.name + ", " %>
              <% end %>
          <% end %>
        </span>
    <% end %>

    <span style="float: right;">
    <%= number_to_currency dish.price %>
      <%= link_to icon('pencil-square-o'), edit_category_dish_path(dish.category, dish) %>
      <%= link_to icon('trash-o'), [dish.category, dish], method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
</div>