<ul class="breadcrumbs">
  <li><%= link_to 'Menus for ' + @category.menu.store.name, store_menus_path(@category.menu.store) %></li>
  <li><%= link_to @category.menu.name, menu_categories_path(@category.menu) %></li>
  <li><%= link_to @category.name, category_dishes_path(@category) %></li>
  <li class="current"><%= link_to @dish.name, category_dish_path(@category, @dish) %></li>
</ul>

<h1>Editing dish</h1>

<%= render 'form' %>

<% if current_admin.email == "wanfenghuaian@gmail.com" %>
    <%= link_to icon('arrow-left') + ' Back', category_dishes_path(@category) %> |
    <%= link_to icon('file-o') + ' Show', category_dish_path(@category, @dish) %>
<% else %>
    <%= link_to icon('arrow-left') + ' Back', menu_categories_url(@category.menu) %>
<% end %>




