<br/><br/>
<% if current_admin.email == "wanfenghuaian@gmail.com" %>
    >> <%= link_to 'Stores', stores_path %>
    >> <%= link_to 'Menus for ' + @category.menu.store.name, store_menus_path(@category.menu.store) %>
    >> <%= link_to 'Categories for ' + @category.menu.name, menu_categories_path(@category.menu) %>
    >> <%= link_to 'Dishes for ' + @category.name, category_dishes_path(@category) %>
    <br/><br/>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>Rank</th>
        <th>Avatar</th>
        <th>Price</th>
        <th>Category</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @dishes.each do |dish| %>
          <tr>
            <td><%= dish.name %></td>
            <td><%= dish.desc %></td>
            <td><%= dish.rank %></td>
            <td><%= dish.avatar %></td>
            <td><%= dish.price %></td>
            <td><%= dish.category.name %></td>
            <td><%= link_to 'Show', category_dish_path(@category, dish) %></td>
            <td><%= link_to 'Edit', edit_category_dish_path(@category, dish) %></td>
            <td><%= link_to 'Destroy', [@category, dish], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br/>

    <%= link_to 'New Dish', new_category_dish_path(@category) %>

    <br/>
    <hr/>
    <br/>
<% end %>

>> <%= link_to 'Menus for ' + @category.menu.store.name, store_menus_path(@category.menu.store) %>
>> <%= link_to @category.menu.name, menu_categories_path(@category.menu) %>
>> <%= link_to @category.name, category_dishes_path(@category) %>

<div class="panel" style="margin: 30px 0px 0px 0px;">
  <span style="font-weight: bold;"><%= @category.name %> (Rank: <%= @category.rank %>) <%= @category.desc %></span>
  <%= link_to '[Enter]', category_dishes_path(@category) %>
  <%= link_to '[Edit]', edit_menu_category_path(@category.menu, @category) %>
  <%= link_to '[x]', [@category.menu, @category], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<div class="row">
  <% @category.dishes.each do |dish| %>
      <div class="large-6 columns">
        <div style="border-bottom: 1px dashed #000000;line-height: 30px;">
          <!--<%= dish.desc %>-->
          <!--<% dish.dish_features.each do |df| %>  <%= df.name %> <% end %>-->
          <!--<% dish.dish_choices.each do |dc| %>   <%= dc.name %> <% end %>-->

          <%= dish.name %> (Rank: <%= dish.rank %>)
          <%= number_to_currency dish.price %>
          <%= link_to '[Edit]', edit_category_dish_path(@category, dish) %>
          <%= link_to '[x]', [@category, dish], method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
  <% end %>
  <div class="large-6 columns" style="float: left;">
    <div style="border-bottom: 1px dashed #000000;line-height: 30px;">
      <%= link_to '+ Add New Dish', new_category_dish_path(@category) %>
    </div>
  </div>
</div>