<ul class="breadcrumbs">
  <li><%= link_to 'Menus for ' + @category.menu.store.name, store_menus_path(@category.menu.store) %></li>
  <li><%= link_to @category.menu.name, menu_categories_path(@category.menu) %></li>
  <li class="current"><%= link_to @category.name, category_dishes_path(@category) %></li>
</ul>

<h1>New dish</h1>

<%= render 'form' %>

<%= link_to image_tag("Arrowhead-Left-24-03.png") + 'Back', menu_categories_path(@category.menu) %>