<br/><br/>
>> <%= link_to 'Stores', stores_path %>
>> <%= link_to 'Menus for ' + @category.menu.store.name, store_menus_path(@category.menu.store) %>
>> <%= link_to 'Categories for ' + @category.menu.name, menu_categories_path(@category.menu) %>
>> <%= link_to 'Dishes for ' + @category.name, category_dishes_path(@category) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Bei:</strong>
  <%= @dish.bei %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @dish.rank %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dish.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dish.category %>
</p>

<%= link_to 'Edit', edit_category_dish_path(@category, @dish) %> |
<%= link_to 'Back', category_dishes_path(@category) %>
