<li class="cart_item">
  <span class="left">
    <%= truncate(cart_item.name, limit: 30) %> &times; <%= cart_item.quantity %>
  </span>
  <span class="right">
    <%= number_to_currency(cart_item.total_price) %>
    <% unless params[:controller] == "orders" %>
      <%= link_to "&nbsp;&times;".html_safe, cart_item_path(cart_item), method: :delete, data: { confirm: 'Sure to delete?' }, remote: true %>
    <% end %>
  </span>
  <br/>
  <span class="cart_item_note"><%= cart_item.note %></span>
</li>