<br/><br/><br/><br/>

<div class="row">
  <div class="large-12 columns" role="content">
    <article>
      <div class="row">
        <div class="large-8 columns">
          <h3><a href="#">Increase Revenue & Order Frequency</a></h3>
          <p>
            Online orders are significantly larger by up to 20% compared to telephone orders, and your repeat business will increase dramatically because a happy customer is a loyal one.
            Your employees will spend less time answering phones and taking orders. The focus can be with serving your dine-in customers and running your restaurants day-to-day duties.
          </p>
        </div>
        <div class="large-4 columns" style="text-align: center;">
          <%= image_tag "features/feature_bar_chart.png" %>
        </div>
      </div>
    </article>
    <hr /><br/>

    <article>
      <div class="row">
        <div class="large-4 columns" style="text-align: center;">
          <%= image_tag "features/feature_office_calendar.png" %>
        </div>
        <div class="large-8 columns">
          <h3><a href="#">Never Miss an Order</a></h3>
          <p>
            Online orders are sent to the Dashboard, where you can accept or cancel the order. Orders are also sent via text message (SMS), fax and a telephone call will be initiated once an order has been placed. Redundancy is in place to prevent missed calls or faxed notifications. Accept credit cards directly from your customers when you integrate your store's current merchant account.
          </p>
        </div>
      </div>
    </article>
    <hr /><br/>

    <article>
      <div class="row">
        <div class="large-8 columns">
          <h3><a href="#">Accept Online Payment</a></h3>
          <p>Accept credit cards directly from your customers. Integrate your store's current merchant account. No additional gateway or system required, no per order charges ever! Saving you hundreds or even thousands over a period of one year.</p>
        </div>
        <div class="large-4 columns" style="text-align: center;">
          <%= image_tag "features/feature_credit_cards.png" %>
        </div>
      </div>
    </article>
    <hr /><br/>

    <article>
      <div class="row">
        <div class="large-4 columns" style="text-align: center;">
          <%= image_tag "features/feature_menu_manage.png" %>
        </div>
        <div class="large-8 columns">
          <h3><a href="#">Menu & Store Management</a></h3>
          <p>
            Easily convert your traditional menus for online use. Upload unlimited images to entice your customers, create food modifiers, set time and days menus will be available and open other store locations with different settings. PizzaBuilder is an intuitive addition to the core system, enabling maximum options that is specifically tailored to Pizzerias. Plus with a clean, easy to use interface, your customers will be coming back again and again!
          </p>
        </div>
      </div>
    </article>
    <hr /><br/>
  </div>
</div>

<%= render "buy" %>