<h1>Q#index</h1>
<p>Find me in app/views/q/index.html.erb</p>


<h1>For Users</h1>
<% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path %>
    <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
<% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <br/><br/>
    <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<br/><br/>

<h1>For Admins</h1>
<% if admin_signed_in? %>
    <%= link_to current_admin.email, edit_admin_registration_path %>
    <%= link_to 'Sign out', destroy_admin_session_path, :method=>'delete' %>
<% else %>
    <%= link_to "Sign in", new_admin_session_path %>
    <br/><br/>
    <%= link_to 'Sign up', new_admin_registration_path %>
<% end %>
