<div class="panel" style="margin: 30px 0px 0px 0px;">
  <div class="row">
    <div class="small-9 columns">
      <%= category.name %><br/>
      <span style="font-size: 12px;font-style: italic;"><%= category.bei %></span>
    </div>

    <div class="small-3 columns">
      <%= link_to icon('pencil-square-o'), edit_menu_category_path(category.menu, category) %>
      <%= link_to icon('trash-o'), [category.menu, category], method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <%= render category.dishes %>

  <div class="large-6 columns" style="float: left;">
    <div style="border-bottom: 1px dashed #000000;line-height: 40px;">
      <%= link_to icon('plus') + " New Dish", new_category_dish_path(category) %>
    </div>
  </div>
</div>