<div class="panel" style="margin: 30px 0px 0px 0px;">
  <div class="row">
    <div class="small-9 columns">
      <%= category.name %><br/>
      <%= category.bei %>
    </div>

    <% if current_admin.feng? %>
        <div class="small-3 columns">
          <%= link_to image_tag("Edit-24-3.png", size: "20x20", alt: "Edit"), edit_menu_category_path(category.menu, category) %>
          <%= link_to image_tag("Garbage-24-3.png", size: "20x20", alt: "Destroy"), [category.menu, category], method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <%= render category.dishes %>

  <div class="large-6 columns" style="float: left;">
    <div style="border-bottom: 1px dashed #000000;line-height: 40px;">
      <%= link_to image_tag("Add-24-3.png", size: "20x20", alt: "Add") + " Add New Dish", new_category_dish_path(category) %>
    </div>
  </div>
</div>