<%= simple_form_for([@menu, @category]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :bei %>
    <%= f.input :rank %>
    <%= image_tag @category.image_url(:micro).to_s, title: @category.name if @category.image? %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
