<ul class="breadcrumbs">
  <li><%= link_to 'Menus for ' + @menu.store.name, store_menus_path(@menu.store) %></li>
  <li><%= link_to @menu.name, menu_categories_path(@menu) %></li>
  <li class="current"><%= link_to @category.name, category_dishes_path(@category) %></li>
</ul>

<h1>Editing category</h1>

<%= render 'form' %>

<%= link_to icon('arrow-left') + 'Back', menu_categories_path(@menu) %>



