<ul class="breadcrumbs">
  <li><%= link_to 'Menus for ' + @menu.store.name, store_menus_path(@menu.store) %></li>
  <li class="current"><%= link_to @menu.name, menu_categories_path(@menu) %></li>
</ul>

<%= render @categories %>

<div class="panel" style="margin: 30px 0px 0px 0px;">
  <div style="float: right;">
    <%= link_to icon('plus') + ' New Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '.html_safe, new_menu_category_path(@menu) %>
  </div>
  <br/>
</div>

<br/><br/>
<%= link_to icon('arrow-left') + " Back", store_menus_path(@menu.store) %>