<div class="row">
  <div class="large-12 columns">
    <ul data-orbit>
      <li>
        <img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
        <div class="orbit-caption">
          Caption One.
        </div>
      </li>
      <li class="active">
        <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
        <div class="orbit-caption">
          Caption Two.
        </div>
      </li>
      <li>
        <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
        <div class="orbit-caption">
          Caption Three.
        </div>
      </li>
    </ul>
  </div>
  <div class="large-9 columns">
    <%= image_tag "templates/imperialbcs/menucover_imperialbcs.png" %>
  </div>
  <div class="large-3 columns">
    <p>
      <br/>
      <%= @store.address.address1 %><br/>
      <%= @store.address.address2 %><br/>
      <%= @store.address.city + ", " + @store.address.state + " " + @store.address.zip %>
    </p>
    <hr/>
    <p>
      Tel: <%= number_to_phone(@store.phone) %><br/>
      Fax: <%= number_to_phone(@store.fax) %>
    </p>
    <hr/>
    <p>
      7 Days A Week<br/>
      Sun - Thu: 11am - 10pm<br/>
      Fri - Sun: 11am - 10:30pm
    </p>
    <hr/>
    <p>
      <%= image_tag "templates/public/payment_cash.gif" %>
      <%= image_tag "templates/public/payment_visa.gif" %>
      <%= image_tag "templates/public/payment_master.gif" %><br/><br/>
      <%= image_tag "templates/public/payment_discover.gif" %>
      <%= image_tag "templates/public/payment_american_express.png" %>
      PayPal
    </p>
  </div>
</div>

