<script type="text/javascript">
    $(document).ready(function(){
        $(".dish_name").click(function() {
            $(this).siblings(".dish_pic").toggle();
        });
    });
</script>

<div class="row">
  <div class="large-12 columns">
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <% @menus.each do |menu| %>
            <dd data-magellan-arrival="menu_<%= menu.id %>"><%= link_to menu.name, "#menu_" + menu.id.to_s %></dd>
        <% end %>
        <dd>
          <%= link_to image_tag("Shopping-Cart-01-24.png"), "#", :data => { :'reveal-id' => 'cart_container' } %>
        </dd>
      </dl>
    </div>
  </div>

  <div class="large-12 columns">
    <% @menus.each do |menu| %>
        <div class="menu">
          <a name="menu_<%= menu.id %>"></a>
          <h3 data-magellan-destination="menu_<%= menu.id %>"><%= menu.name %></h3>
          <p><%= menu.hours_for_day %></p>
          <% if menu.still_open? %>
              <div class="row">
                <% menu.categories.each do |category| %>
                    <div class="large-12 columns">
                      <div class="category">
                        <div class="row">
                          <div class="category_name small-11 columns"><%= category.name %></div>
                          <div class="category_desc small-1 columns"><%= link_to "[Top]", "#" %></div>
                        </div>
                      </div>
                    </div>
                    <% category.dishes.each do |dish| %>
                        <div class="large-6 columns">
                          <div class="dish">
                            <div class="row">
                              <div class="dish_name small-12 large-8 columns">
                                <%= dish.name %>
                              </div>
                              <div class="dish_features small-8 large-2 columns">
                                &nbsp;
                                <% dish.dish_features.each do |df| %>
                                    <% #  image_tag df.avatar_url(:micro).to_s, title: df.name if df.avatar? %>
                                <% end %>
                              </div>
                              <div class="dish_price small-4 large-2 columns">
                                <%= link_to number_to_currency(dish.price), "#", data: { :'reveal-id' => "dish_dialog_" +dish.id.to_s } %>
                              </div>
                              <div class="dish_pic large-12 columns" style="display: none ">
                                <% if dish.avatar? %>
                                    <%= image_tag dish.avatar_url.to_s, title: dish.name %>
                                <% else %>
                                    <%= image_tag "http://placehold.it/620x450&text=" + @store.name %>
                                <% end %>
                              </div>
                            </div>
                            <div class="dish_dialog reveal-modal" id="dish_dialog_<%= dish.id %>" data-reveal>
                              <div class="dish_dialog_title">
                                <br/>
                                <%= dish.name %>&#58;&nbsp;<%= number_to_currency dish.price %>
                              </div>
                              <div class="dish_dialog_choices">
                                <%= form_tag(cart_items_path, :method => 'post', :remote => true) do %>
                                    <% dish.dish_choices.each do |dc| %>
                                        <div class="dish_choice" must="<%= dc.must %>" type="<%= dc.input_type %>">
                                          <b><%= dc.name %>&#58;</b>
                                          <%= "&nbsp;&nbsp;<em>(* Required)</em>".html_safe if dc.must %>
                                          <br/>
                                          <%= (dc.desc + "<br/>").html_safe unless dc.desc.blank? %>
                                          <% dc.content.split(',').each_with_index do |x, i| %>
                                              <input type="<%= dc.input_type %>" name="<%= dc.name %>" value="<%= x.split(':')[0] %>"
                                                     add=<%= x.split(':')[1] %> <%= 'checked="checked" ' if dc.checked == i %> />
                                              <%= x.split(':')[0] %>
                                              <% if x.split(':')[1].to_f > 0 %>
                                                  +<%= number_to_currency x.split(':')[1] %>
                                              <% end %>
                                              &nbsp;&nbsp;&nbsp;
                                          <% end %>
                                          <hr/>
                                        </div>
                                    <% end %>

                                    <%= label_tag(:quantity, "Choose Quantity:") %>
                                    <%= select_tag :quantity, options_for_select([1, 2, 3, 4, 5]) %>
                                    <hr/>

                                    Special Instructions:&nbsp;<input type="text" name="note" add="0" />
                                    <hr/>
                                    <%= hidden_field_tag :price_adjustment, 0 %>
                                    <%= hidden_field_tag :dish_id, dish.id %>
                                    <%= hidden_field_tag :store_id, @store.id %>
                                <% end %>
                              </div>
                              <button class='dish_dialog_submit'>Order</button>
                              <a class="close-reveal-modal">&#215;</a>
                            </div>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div id="cart_container" class="reveal-modal" data-reveal>
    <div id="cart_message">Delivery available within 4 miles!<br/> Call us if over 4 miles.</div>
    <ul id="cart">
      <% if @cart %>
          <%= render @cart %>
      <% else %>
          <li class="bullet-item">Your Cart Is Empty!</li>
      <% end %>
    </ul>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>