<script type="text/javascript">
    $(document).ready(function(){
        $(".dish_name").click(function() {
            $(this).siblings(".dish_pic").toggle();
        });
    });
</script>

<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <% @menus.each do |menu| %>
        <dd data-magellan-arrival="menu_<%= menu.id %>"><%= link_to menu.name, "#menu_" + menu.id.to_s %></dd>
    <% end %>
    <dd><%= link_to image_tag("Shopping-Cart-24.png"), "#", :data => { :'reveal-id' => 'cart_container' } %></dd>
  </dl>
</div>

<% @menus.each do |menu| %>
    <div class="menu">
      <div class="menu_title">
        <div class="row">
          <div class="menu_name large-7 columns">
            <div style="padding: 3px 0px 0px 20px;">
              <a name="menu_<%= menu.id %>"></a>
              <h3 data-magellan-destination="menu_<%= menu.id %>"><%= menu.name %></h3>
              <p><%= menu.hours_for_day %></p>
            </div>
          </div>
          <div class="large-5 columns">
            <%= image_tag menu.image_url.to_s %>
          </div>
        </div>
      </div>

      <% menu.categories.each do |category| %>
          <div class="category">
            <div class="category_title">
              <div class="row">
                <div class="category_name small-10 columns">
                  <%= category.name %>
                </div>
                <div class="category_desc small-2 columns">
                  <%= link_to "[Top]", "#" %>
                </div>
              </div>
            </div>

            <div class="row">
              <% category.dishes.each do |dish| %>
                  <div class="large-6 columns">
                    <div class="dish">
                      <div class="row">
                        <div class="dish_name small-12 large-8 columns">
                          <%= dish.name %>
                        </div>
                        <div class="dish_features small-8 large-2 columns">
                          &nbsp;
                          <% dish.dish_features.each do |df| %>
                              <%= image_tag df.image_url(:micro).to_s, title: df.name if df.image? %>
                          <% end %>
                        </div>
                        <div class="dish_price small-4 large-2 columns">
                          <% if menu.still_open? %>
                              <%= link_to number_to_currency(dish.price), "#", data: { :'reveal-id' => "dish_dialog_" + dish.id.to_s }, class: "" %>
                          <% else %>
                              <%= number_to_currency(dish.price) %>
                          <% end %>
                        </div>
                        <div class="dish_pic large-12 columns" style="display: none ">
                          <% if dish.image? %>
                              <% # image_tag dish.image_url.to_s, title: dish.name %>
                          <% else %>
                              <% # image_tag "http://placehold.it/620x450&text=" + @store.name %>
                          <% end %>
                        </div>
                      </div>
                      <div class="dish_dialog reveal-modal small" id="dish_dialog_<%= dish.id %>" data-reveal>
                        <div class="dish_dialog_choices">

                          <div class="loading" style="display: none;margin: 30px 0;text-align: center;">
                            <%= image_tag "loading.gif" %>
                          </div>

                          <%= form_tag(cart_items_path, :method => 'post', :remote => true) do %>
                              <div class="dish_dialog_title">
                                <div class="row">
                                  <div class="small-8 columns" style="line-height: 40px;"><%= dish.name %></div>
                                  <div class="small-2 columns" style="line-height: 40px;"><%= number_to_currency dish.price %></div>
                                  <div class="small-2 columns"><%= select_tag :quantity, options_for_select([1, 2, 3, 4, 5]) %></div>
                                </div>
                              </div>

                              <hr/>
                              <% dish.dish_choices.each do |dc| %>
                                  <div class="dish_choice" must="<%= dc.must %>" type="<%= dc.input_type %>" style="line-height: 25px;">
                                    <b><%= dc.name %>&#58;</b>
                                    <%= "&nbsp;&nbsp;<em>(* Required)</em>".html_safe if dc.must %>
                                    <br/>
                                    <%= (dc.bei + "<br/>").html_safe unless dc.bei.blank? %>
                                    <% dc.content.split(',').each_with_index do |x, i| %>
                                        <input type="<%= dc.input_type %>" name="<%= dc.name %>" value="<%= x.split(':')[0] %>"
                                               add=<%= x.split(':')[1] %> <%= 'checked="checked" ' if dc.checked == i %> />
                                        <%= x.split(':')[0] %>
                                        <%= "+" + number_to_currency(x.split(':')[1]) if x.split(':')[1].to_f > 0 %>
                                        &nbsp;&nbsp;&nbsp;
                                    <% end %>
                                  </div>
                              <% end %>

                              <br/>
                              Special Instructions:&nbsp;<input type="text" name="note" add="0" />
                              <br/>
                              <%= hidden_field_tag :price, dish.price %>
                              <%= hidden_field_tag :price_adjustment, 0 %>
                              <%= hidden_field_tag :cart_itemable_type, "Dish" %>
                              <%= hidden_field_tag :cart_itemable_id, dish.id %>
                              <%= hidden_field_tag :name, dish.name %>
                              <%= hidden_field_tag :store_id, @store.id %>
                          <% end %>
                        </div>
                        <button class='dish_dialog_submit small'>Order</button>
                        <a class="close-reveal-modal">&#215;</a>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<div id="cart_container" class="reveal-modal small" data-reveal>
  <div id="cart_message">Delivery available within 4 miles!<br/> Call us if over 4 miles.</div>
  <ul id="cart">
    <% if @cart %>
        <%= render @cart, store: @store %>
    <% else %>
        <li class="bullet-item">Your Cart Is Empty!</li>
    <% end %>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
    $('.dish_dialog form').bind('ajax:beforeSend', function() {
        $(this).siblings('.loading').show();
    });

    $('.dish_dialog form').bind('ajax:complete', function() {
        $(this).siblings('.loading').hide();
    });

    $('#cart').bind('ajax:beforeSend', function() {
        $(this).find('.loading').show();
    });
</script>