<div class="row">

  <div class="large-4 columns">
    <%= render "q/templates/public/cart" %>
  </div>
  <div class="large-8 columns">
    <br/>
    <div id="store_order_form" >
      <%= simple_form_for([@store, @order], validate: true) do |f| %>
          <%= f.error_notification %>

          <div class="row">
            <div class="large-6 columns">
              <%= f.fields_for :user do |builder| %>
                  <div class="row">
                    <div class="small-6 columns"><%= builder.input :firstname %></div>
                    <div class="small-6 columns"><%= builder.input :lastname %></div>
                    <div class="small-12 columns"><%= builder.input :phone %></div>
                  </div>

                  <% if @cart.delivery_type == 'delivery' %>
                      <% if @store.delivery_rules.present? %>
                          <%= builder.fields_for :address do |addr| %>
                              <div class="row">
                                <div class="small-12 columns"><%= addr.input :address1, input_html: { readonly: :readonly } %></div>
                                <div class="small-6 columns"><%= addr.input :city, input_html: { readonly: :readonly } %></div>
                                <div class="small-6 columns"><%= addr.input :zip, input_html: { readonly: :readonly } %></div>
                              </div>
                          <% end %>
                      <% else %>
                          <%= builder.fields_for :address do |addr| %>
                              <div class="row">
                                <div class="small-12 columns"><%= addr.input :address1 %></div>
                                <div class="small-6 columns"><%= addr.input :city %></div>
                                <div class="small-6 columns"><%= addr.input :zip %></div>
                              </div>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
            </div>

            <div class="large-6 columns">
              <div class="row">
                <div class="small-6 columns">
                  <%= f.input :payment_type, collection: Order::PAYMENT_TYPE_OPTIONS, as: :radio_buttons %>
                </div>
                <div class="small-6 columns">
                  <%= f.input :tip, collection: Order::TIP_OPTIONS, prompt: nil, selected: Order::TIP_OPTIONS[0] %>
                </div>
                <div class="large-6 columns"></div>
              </div>

              <br/>
              <%= f.input :note, as: :text, input_html: {cols: 50, rows: 2}, label: 'Special instructions' %>
              <%= f.input :store_id, :as => :hidden %>
              <%= f.input :cart_id, :as => :hidden %>
              <br/>
              <%= link_to "Back to Store", q_store_menus_path, :class => "small button" %>
              <%= f.button :submit, :class => "small button", data: { disable_with: "Saving..." } %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
