<div class="row">
  <% if @dishes %>
      <div class="large-12 columns">
        <ul data-orbit>
          <% @dishes.each do |d| %>
              <li>
                <%= image_tag d.image_url, width: 1000, height: 300 %>
                <div class="orbit-caption">
                  <%= d.bei %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="large-9 columns">
    <%= image_tag "templates/imperialbcs/menucover_imperialbcs.png" %>
  </div>
  <div class="large-3 columns">
    <p>
      <br/>
      <%= @store.address.address1 %><br/>
      <%= @store.address.address2 %><br/>
      <%= @store.address.city + ", " + @store.address.state + " " + @store.address.zip %>
    </p>
    <hr/>
    <p>
      Tel: <%= number_to_phone(@store.phone) %><br/>
      Fax: <%= number_to_phone(@store.fax) %>
    </p>
    <hr/>
    <p>
      7 Days A Week<br/>
      <% @store.menus.first.hours.each do |h| %>
          <%= h.name + ": " + h.open_at + " - " + h.close_at %><br/>
      <% end %>
    </p>
    <hr/>
    <p>
      <%= image_tag "templates/imperialbcs/payment_cash.png", size: "60x40" %>
      <%= image_tag "templates/imperialbcs/payment_visa.png", size: "60x40" %>
      <%= image_tag "templates/imperialbcs/payment_master.png", size: "60x40" %>
      <%= image_tag "templates/imperialbcs/payment_discover.png", size: "60x40" %>
      <%= image_tag "templates/imperialbcs/payment_amex.png", size: "60x40" %>
      <%= image_tag "templates/imperialbcs/payment_paypal.png", size: "60x40" %>
    </p>
  </div>
</div>

