<!--footer start-->
<div id="footer">
  <div id="footer_nav_large">
    <ul>
      <li><%= link_to "Home", q_store_home_path %></li>
      <li><%= link_to "Menus", q_store_menus_path %></li>
      <li class="no-separator"><%= link_to "Location", q_store_map_path %></li>
    </ul>
  </div>
  <div id="footer_intro">
    <%= @store.name %> is the Best Asian Food in Town For Delivery and Takeout.
    Delivery (Minimum $15.0 Within 4.0 Miles)
    <br />
    <%= @store.address.address1 + ", " + @store.address.address2 + ", " + @store.address.city + ", " + @store.address.state + " " + @store.address.zip %>
  </div>
  <div id="footer_brand">
    Website Created and Maitained by
    <a href="http://www.777pos.com">777POS</a>
  </div>
  <div id="footer_nav_small">
    &copy; <%= Time.now.year.to_s + " " + @store.name %>. All Rights Reserved.
    &bull; <a href="http://www.paypal.com">PayPal</a>

    <% if admin_signed_in? %>
        &bull;<%= link_to current_admin.firstname + " " + current_admin.lastname, edit_admin_registration_path %>
        &bull;<%= link_to 'Sign out', destroy_admin_session_path, :method=>'delete' %>
    <% else %>
        &bull;<%= link_to "Sign in", new_admin_session_path %>
        &bull;<%= link_to 'Sign up', new_admin_registration_path %>
    <% end %>
  </div>
</div><!--footer-->
<!--footer end-->