<div class="gallery">
  <div id="gallery_slides">
    <% if @dishes %>
        <div class="gallery_slide">
          <%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck6.jpg", width: 960, height: 500, border: 0), "" %>
        </div>
    <% else %>
        <div class="gallery_slide"><%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck1.jpg", width: 960, height: 500, border: 0), "" %></div>
        <div class="gallery_slide"><%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck2.jpg", width: 960, height: 500, border: 0), "" %></div>
        <div class="gallery_slide"><%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck3.jpg", width: 960, height: 500, border: 0), "" %></div>
    <% end %>
  </div>
  <div id="gallery_menu">
    <ul>
      <li class="gallery_fbar">&nbsp;</li>
      <% if @dishes %>
          <div class="gallery_menu_item">
            <%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck6.jpg", width: 58, height: 40, border: 0), "" %>
          </div>
      <% else %>
          <li class="gallery_menu_item"><%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck1.jpg", width: 58, height: 40) %></li>
          <li class="gallery_menu_item"><%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck2.jpg", width: 58, height: 40) %></li>
          <li class="gallery_menu_item"><%= link_to image_tag("templates/joyluckdelivery/dishes/joyluck3.jpg", width: 58, height: 40) %></li>
      <% end %>
    </ul>
  </div>
</div>