<div id="store_order_form" >
  <%= simple_form_for([@store, @order], validate: true) do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="large-6 columns">
          <%= f.fields_for :user do |builder| %>
              <%= builder.input :firstname, :placeholder => 'Firstname' %>
              <%= builder.input :lastname, :placeholder => 'Lastname' %>
              <%= builder.input :phone, :placeholder => 'Phone' %>
              <% if @cart.delivery_type == 'delivery' %>
                  <%= builder.fields_for :address do |addr| %>
                      <%= addr.input :address1, placeholder: 'Address' %>
                      <%= addr.input :address2, placeholder: 'Apt / Building / Suite' %>
                      <%= addr.input :city, placeholder: 'City' %>
                  <% end %>
              <% end %>
          <% end %>
        </div>

        <div class="large-6 columns">
          <%= f.input :payment_type, collection: @order.payment_types, as: :radio_buttons %>
          <%= f.input :tip, collection: Order::TIP_RATES, prompt: nil, selected: Order::TIP_RATES[0] %>
          <%= f.input :note, as: :text, input_html: {cols: 50, rows: 2}, placeholder: 'Special instructions' %>

          <%= f.input :store_id, :as => :hidden %>
          <%= f.input :cart_id, :as => :hidden %>
          <br/>
          <%= link_to "Back to Store", q_store_menus_path, :class => "button" %>
          <%= f.button :submit, :class => "button", data: { disable_with: "Saving..." } %>
          <br/><br/>
        </div>
      </div>
  <% end %>
</div>