<div id="store_order_form" >
  <%= simple_form_for([@store, @order], validate: true) do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="large-6 columns">
          <%= f.fields_for :user do |builder| %>
              <%= builder.input :firstname %>
              <%= builder.input :lastname %>
              <%= builder.input :phone %>
              <% if @cart.delivery_type == 'delivery' %>
                  <% if @store.delivery_rules.present? %>
                      <%= builder.fields_for :address do |addr| %>
                          <%= addr.input :address1, label: "Address", input_html: { readonly: :readonly } %>
                          <%= addr.input :city, input_html: { readonly: :readonly } %>
                          <%= addr.input :zip, input_html: { readonly: :readonly } %>
                      <% end %>
                  <% else %>
                      <%= builder.fields_for :address do |addr| %>
                          <%= addr.input :address1, label: "Address" %>
                          <%= addr.input :city %>
                          <%= addr.input :zip %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
        </div>

        <div class="large-6 columns">
          <%= f.input :payment_type, collection: @order.payment_types, as: :radio_buttons %>
          <%= f.input :tip, collection: Order::TIP_RATES, prompt: nil, selected: Order::TIP_RATES[0] %>
          <%= f.input :note, as: :text, input_html: {cols: 50, rows: 2}, label: 'Special instructions' %>

          <%= f.input :store_id, :as => :hidden %>
          <%= f.input :cart_id, :as => :hidden %>
          <br/>
          <%= link_to "Back to Store", q_store_menus_path %>
          <%= f.button :submit, :class => "button", data: { disable_with: "Saving..." } %>
          <br/><br/>
        </div>
      </div>
  <% end %>
</div>