<li><%= link_to "Stores", stores_path %></li>
<li><%= link_to "Cartridges", cartridges_path %></li>
<li><%= link_to "Templates", templates_path %></li>
<li><%= link_to "Subscriptions", subscriptions_path %></li>
<li><%= link_to "Users", "#" %></li>