<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>777POS</title>

  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><%= link_to icon("fa fa-arrow-circle-left") + " Back to Store", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if admin_signed_in? %>
              <li class="divider"></li>
              <li><%= link_to current_admin.email, edit_admin_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign out', destroy_admin_session_path, :method=>'delete' %></li>
          <% else %>
              <li class="divider"></li>
              <li><%= link_to "Sign in", new_admin_session_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign up', new_admin_registration_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
  <div class="large-3 columns">
    <br/>
    <ul class="side-nav">
      <% if current_admin.feng? %>
          <li><%= link_to "Stores", stores_path %></li>
          <li><%= link_to "Cartridges", cartridges_path %></li>
          <li><%= link_to "Templates", templates_path %></li>
          <li><%= link_to "Subscriptions", subscriptions_path %></li>
          <li><%= link_to "Users", "#" %></li>
          <li><hr/></li>
      <% end %>

      <% if current_admin.store.nil? %>
          <li <%= "class=active" if controller_name == "registrations" %>>
            <%= link_to icon('fa fa-user') + " My Profile", edit_admin_registration_path %>
          </li>
          <li <%= "class=active" if action_name == "retrieve_store" %>>
            <%= link_to icon('fa fa-search') + " Retrieve Store", h_retrieve_store_path %>
          </li>
      <% else %>
          <li><%= image_tag @store.image_url.to_s, title: @store.name if @store.image? %><br/><br/></li>
          <li <%= "class=active" if controller_name == "registrations" %>>
            <%= link_to icon('fa fa-user') + " My Profile", edit_admin_registration_path %>
          </li>
          <li <%= "class=active" if controller_name == "stores" %>>
            <%= link_to icon('fa fa-home') + " My Store", store_path(@store) %>
          </li>
          <% if @cartridge_array.include? "menu_manager" %>
              <li <%= "class=active" if controller_name == "menus" %>>
                <%= link_to icon('fa fa-file-text') + " Store Menus", store_menus_path(@store) %>
              </li>
              <li <%= "class=active" if controller_name == "dish_choices" %>>
                <%= link_to "My Dish Choices", store_dish_choices_path(@store) if current_admin.feng? %>
              </li>
              <li <%= "class=active" if controller_name == "dish_features" %>>
                <%= link_to "My Dish Features", store_dish_features_path(@store) if current_admin.feng? %>
              </li>
          <% end %>
          <li <%= "class=active" if controller_name == "coupons" %>>
            <%= link_to icon('fa fa-money') + " Store Coupons", store_coupons_path(@store) if @cartridge_array.include? "coupon_manager" %>
          </li>
          <li <%= "class=active" if action_name == "user_manager" %>>
            <%= link_to icon('fa fa-users') + " Store Users", h_user_manager_path if @cartridge_array.include? "user_manager" %>
          </li>
          <li <%= "class=active" if controller_name == "orders" %>>
            <%= link_to icon('fa fa-cutlery') + " Store Orders", store_orders_path(@store) if @cartridge_array.include? "order_manager" %>
          </li>
          <li <%= "class=active" if controller_name == "payments" %>>
            <%= link_to icon('fa fa-credit-card') + " Store Payments", store_payments_path(@store) if @cartridge_array.include? "payment_manager" %>
          </li>
          <li <%= "class=active" if controller_name == "statements" %>>
            <%= link_to icon('fa fa-bell') + " Statements", store_statements_path(@store) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="large-9 columns">
    <br/>
    <% flash.each do |name, msg| %>
        <div data-alert class="alert-box round <%= name %>">
          <%= msg %>
        </div>
    <% end %>
    <br/>

    <% if @store && @not_paid_count && @not_paid_count > 0 %>
        <div data-alert class="alert-box alert radius" style="text-align:center;">
          <%= link_to "You have statements to pay.", store_statements_path(@store), style: "color:#fff;" %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>

    <%= yield %>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; <%= Time.now.year %> - 777POS. All Rights Reserved.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://www.paypal.com" target="_blank">Paypal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
