<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>777POS Online Ordering System</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "777POS", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Features", q_features_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Examples", q_examples_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Pricing", q_pricing_path %></li>
      <% if admin_signed_in? %>
          <li class="divider"></li>
          <li><%= link_to current_admin.email, edit_admin_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign out', destroy_admin_session_path, :method=>'delete' %></li>
      <% else %>
          <li class="divider"></li>
          <li><%= link_to "Sign in", new_admin_session_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign up', new_admin_registration_path %></li>
      <% end %>
    </ul>
  </section>
</nav>

<div id="kitchen_pic">
  <br/><br/><br/><br/>
  777POS Online Ordering System
  <br/><br/>
  <%= link_to "Explore Powerful Features", q_features_path, class: "button" %>
  <%= link_to "See Successful Examples", q_examples_path, class: "button" %>
</div>

<div class="row">
  <div class="large-12 columns">
    <br/>
    <% flash.each do |name, msg| %>
        <div data-alert class="alert-box round <%= name %>">
          <%= msg %>
        </div>
    <% end %>

    <%= yield %>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; <%= Time.now.year %> - 777POS. All Rights Reserved.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://www.paypal.com" target="_blank">Paypal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<% if false %>
    <script>
        document.write('<script src=' +
                ('__proto__' in {} ? '<%= asset_path("vendor/zepto") %>' : '<%= asset_path("jquery") %>') +
                '><\/script>');
    </script>

    <script>
        // Ensure rails_ujs works with Zepto
        $.fn.ajaxSend = function(callback) {
            return this.each(function(){
                $(this).on('ajaxBeforeSend', callback);
            });
        };
        var jQuery = $;
    </script>
<% end %>
<%= javascript_include_tag "application" %>
</body>
</html>
