<div class="row">
  <div class="large-6 columns">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <fieldset style="background-color: #ffffff">
          <%= f.error_notification %>
          <legend>
            Edit Your Profile
          </legend>

          <div class="row">
            <div class="large-6 columns">
              <%= f.input :email, :required => true, :autofocus => true %>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <%= f.input :firstname %>
            </div>
            <div class="large-4 columns">
              <%= f.input :lastname %>
            </div>
            <div class="large-4 columns">
              <%= f.input :phone %>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.button :submit, "Update Profile", class: "button small" %>
            </div>
          </div>
        </fieldset>
    <% end %>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <fieldset style="background-color: #ffffff">
          <%= f.error_notification %>
          <legend>
            Edit Your Address
          </legend>

          <%= f.fields_for :address do |addr| %>
              <div class="row">
                <div class="large-6 columns">
                  <%= addr.input :address1 %>
                </div>
                <div class="large-6 columns">
                  <%= addr.input :address2 %>
                </div>
              </div>

              <div class="row">
                <div class="large-3 columns">
                  <%= addr.input :city %>
                </div>
                <div class="large-3 columns">
                  <%= addr.input :state %>
                </div>
                <div class="large-3 columns">
                  <%= addr.input :country, :as => :string %>
                </div>
                <div class="large-3 columns">
                  <%= addr.input :zip %>
                </div>
              </div>
          <% end %>

          <div class="row">
            <div class="large-12 columns">
              <%= f.button :submit, "Update Address", class: "button small" %>
            </div>
          </div>
        </fieldset>
    <% end %>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <fieldset style="background-color: #ffffff">
          <%= f.error_notification %>
          <legend>
            Change Your Password
          </legend>

          <div class="row">
            <div class="large-4 columns">
              <%= f.input :password, :autocomplete => "off", :required => false %>
            </div>
            <div class="large-4 columns">
              <%= f.input :password_confirmation, :label => "Confirmation", :required => false %>
            </div>
            <div class="large-4 columns">
              <%= f.input :current_password, :required => true %>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.button :submit, "Update Profile", class: "button small" %>
            </div>
          </div>
        </fieldset>
    <% end %>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
  </div>
  <div class="large-6 columns">
    <fieldset style="background-color: #ffffff">
      <legend>
        Recent Orders
      </legend>

      <% current_user.orders.each do |o| %>
          <p><%= "Order No." + o.id.to_s %> @ <%= o.created_at.getlocal.to_formatted_s(:short) %></p>
          <div style="font-size: 12px;font-style: italic">
            <% o.cart.cart_items.each do |ci| %>
                <%= ci.name %>: <%= number_to_currency ci.price %> &times; <%= ci.quantity %> <br/>
            <% end %>
          </div>
          <br/>
          <p><strong style="color: #ff0000">Total: </strong><%= number_to_currency o.cart.total_price %></p>
          <%= link_to "Get it again", new_store_order_path(@store, cart_id: o.cart.id), class: "button tiny" %>
          <hr/>
      <% end %>
    </fieldset>
  </div>

</div>

